{:lein     true
 :dev-http {9997 "public"}
 :http     {:port 9998}
 :nrepl    {:port 9999}

 :builds   {:aws  {:target           :node-library
                   :output-to        "out/lambda.js"
                   :exports          {:handler lambda/handler}
                   :compiler-options {:infer-externs      :auto
                                      :optimizations      :simple
                                      :source-map         true
                                      :output-feature-set :es6}}

            :dev  {:target           :node-script
                   :output-to        "out/dev.js"
                   :main             dev/start
                   :compiler-options {:closure-defines {'goog.DEBUG true}
                                      :external-config {:guardrails {}}}
                   :devtools         {:repl-pprint true}}

            :test {:target           :node-test
                   :output-to        "out/test.js"
                   :ns-regexp        "-test$"
                   :compiler-options {:closure-defines {'goog.DEBUG true}
                                      :external-config {:guardrails {}}}
                   :autorun          true}}}
